*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
}



#footer {
   background-color: #1D1D1f
}

.footer__container {
    text-align: center;
}
.footer__container section div a {
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
}

.navbar {
    background: #FF4B3B;
}
header section a img {
    width: 120px;
    height: auto;
    margin: 10px auto;
    
}

.nav-link {
    font-weight: bold;
    font-size: 2rem;
} 

.navbar__item__especial {
    color: #FFFF !important;
}


section .carousel-inner div img {
    object-fit: cover;
}