*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
}



#footer {
   background-color: #1D1D1f
}

.footer__container {
    text-align: center;
}
.footer__container section div a {
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
}

.navbar {
    background: #FF4B3B;
    margin-bottom: .2px;
}
header section a img {
    width: 120px;
    height: auto;
    margin: 10px auto;
    
}
.nav-item {
    margin-right: 30px;
}

.nav-link {
    font-weight: bold;
    font-size: 2rem;
} 

.navbar__item__especial {
    color: #F5F5F7 !important;
}


section .carousel-inner div img {
    object-fit: cover;
}

#carousel__container {
    position: relative;
}
#carousel__container .overlay{
    position: absolute;
    top: 1;
    bottom:0;
    left: 0;
    right: 0;
    color: white;
    z-index: 1;
    background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(0,0,0,1))
}
#carousel__container .overlay .container,
#carousel__container .overlay .row{
    height: 100%;
}

.carousel__item__title {
    font-size: 8rem;
    font-weight: bold;
    text-align: left;
}

.carousel__item__category {
    font-size: 3rem;
    text-align: left;
}

.carousel__item__button {
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex !important;
    white-space: nowrap !important;
    border-radius: 980px !important;
    font-size: 1.7rem !important;
    line-height: 1.17648 !important;
    letter-spacing: -.022em !important;
    min-width: 26px !important;
    padding: 14px 30px !important;
    font-weight: 700 !important;
    color: #1d1d1f !important;
    background-color: #fff !important;
    max-width: 170px;
    height: 50px;


}